html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
}

.container {
    width: 100%;
}

header {
    display: flex;
    background-color: dimgray;
    height: 150px;
}

.logo {
    text-decoration: none;
    display: flex;
    width: 37%;
    margin-left: 3%;
}

.logo img {
    width: 150px;
    height: 150px;
}

nav {
    width: 60%;
}


ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li a {
    color: lightgray;
    background-color: dimgray;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    line-height: 5rem;
    margin-top: 7%;
    font-size: 125%;
}

li {
    width: calc(100% / 5);
}

li a:hover {
    background-color: gray;
}


main {
    background-color: antiquewhite;
    text-align: center;
    padding: 5%;
}

.products-container figure ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
}
