html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    
}

header {
    height: 150px;
    display: flex;
    background-color: dimgray;
}

.logo {
    width: 37%;
    margin-left: 3%;
    text-decoration: none;
    display: flex;
}

.logo img {
    width: 150px;
    height: 150px;
}

nav {
    width: 60%;
}


ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li a {
    color: lightgray;
    background-color: dimgray;
    text-decoration: none;
    width: 100%;
    line-height: 5rem;
    display: block;
    text-align: center;
    margin-top: 7%;
    font-size: 125%;
}

li {
    width: calc(100% / 5)
}

li a:hover {
    background-color: gray;
}