body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 237, 242);
    margin-top: 3%;
    margin-right: 7%;
    margin-left: 7%;
}

.container {
    width: 100%;
}

header {
    display: flex;
    background-color: rgb(63, 58, 54);
    height: 100px;
    max-width: 100%;
}

.logo {
    text-decoration: none;
    display: flex;
    margin-right: 37%;
    margin-left: 3%;
}

.logo img {
    width: 100px;
    height: 100px;
}

.container nav {
    width: 60%;
}

.container nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.container li {
    width: calc(100% / 3);
}

.container li a {
    color: rgb(235, 237, 242);
    background-color: rgb(63, 58, 54);
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    line-height: 3rem;
    margin-top: 10px;
    font-size: 100%;
}

.container li a:hover {
    background-color: rgb(191, 181, 179);
    color: rgb(63, 58, 54);
}


main {
    background-color: rgb(140, 131, 123);
    text-align: center;
    padding: 5%;
    margin-top: 5%;
    
}

main h1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

main img {
    max-width: 100%;
    text-align: center;
}

main p {
    text-align: justify, center;
    max-width: 100%;
}

.products-image {
    max-width: 100%;
    margin-bottom: 10%;
}

.products-image p {
    text-align: center;   
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(140, 131, 123);
    color: rgb(63, 58, 54);
}

.products-container figure img {
    width: 100%;
    height: auto;
}

.products-container figcaption {
    color: rgb(235, 237, 242);
    background-color: rgb(63, 58, 54);
}

.products-container article p {
    text-align: justify;
}

.products-container article {
    width: 30%;
    padding: 1%;
    box-sizing: border-box;
    border-style: solid;
    border-color:  rgb(63, 58, 54);
    background-color: rgb(191, 181, 179);
    text-align: center;
}

.products-container article:hover {
    background-color: rgb(235, 237, 242);
}

.contact-container {
    background-color: rgb(191, 181, 179);
    display: flex;
    padding: 5%;
    margin-top: 5%;
    max-width: 100%;
    color: rgb(63, 58, 54);
}

.contact-container article {
    width: 30%;
    margin-left: 10%;
    padding: 1%;
    text-align: left;
}

.contact-container figure {
    display: block;
    float: right;
    margin-left: 10%;
}

.contact-container figure iframe {
    width: 125%;
    height: 100%;
    border: 0;
}

.social-media-and-email {
    background-color: rgb(191, 181, 179);
    text-align: center;
    margin-top: 0;
}

.social-media-and-email h3 {
    margin-top: 0%;
}

.social-media-and-email ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: rgb(63, 58, 54);
    text-decoration: none;
    line-height: 4rem;
    padding: 0;
}

.social-media-and-email ul li {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.social-media-and-email ul li a {
    text-decoration: none;
    color: rgb(191, 181, 179);
}

.social-media-and-email ul li:hover {
    background-color: rgb(114, 98, 87);
}

.social-media-and-email form {
    background-color: rgb(114, 98, 87);
    width: 30%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
}

.social-media-and-email form input {
    display: block;
    width: 100%;
    padding: 5%;
    text-align: center;
}

.social-media-and-email li a {
    color: rgb(235, 237, 242);
    background-color: rgb(63, 58, 54);
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.social-media-and-email li a:hover {
    color: rgb(235, 237, 242);
    background-color: rgb(114, 98, 87);
}

.bottom-container {
    display: flex;
    background-color: rgb(63, 58, 54);
    height: 100px;
    max-width: 100%;
    margin-top: 5%;
}

footer {
    text-align: center;
    margin-left: 3%;
    margin-top: 25px;
    color: rgb(235, 237, 242);
}

footer a {
    text-decoration: none;
    color: rgb(235, 237, 242);
}

@media (max-width: 1000px) {
    .logo {
        margin-right: auto;
    }

    .container nav {
        margin-left: auto;
    }

    .container nav ul {
        padding: 0;
    }

    .container li a {
        letter-spacing: -2px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1%;
        text-align: center;
        box-sizing: border-box;
    }

    .contact-container article {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .contact-container figure iframe {
        width: 100%;
        height: 300px;
    }

    .products-container figure img {
        width: 50%;
        height: auto;
    }

    .products-container {
        flex-direction: column;
    }

    .products-container article {
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
    }
}